<div class="container mt-5">
  <h1>User Details</h1>
  <ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> <%= @user.id %></li>
    <li class="list-group-item"><strong>Name:</strong> <%= @user.name %></li>
    <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
    <li class="list-group-item"><strong>Role:</strong> <%= @user.role %></li>
  </ul>
  <%= link_to 'Back to Users', users_path, class: 'btn btn-primary mt-3' %>
</div>
